---

---

<section class="relative h-screen w-full overflow-hidden">
    <div class="bg-[url(/src/assets/images/main-background.jpg)] bg-cover bg-center bg-no-repeat bg-fixed absolute inset-0 w-full h-full">
    </div>
    <div class="absolute inset-0 bg-black/70 backdrop-blur-sm"></div>
    <div class="flex flex-col items-center justify-center h-full text-center p-4 gap-6 relative z-10 text-white">
        <h1 class="text-4xl font-bold">Bienvenido al cuestionario</h1>
        <!-- <h2 class="text-2xl">El tema será ciberseguridad</h2> -->
        <p class="text-lg mb-4">¿Estás listo?</p>
        <p class="text-lg mb-4">Ingresa tu correo electrónico para comenzar</p>
        <input required type="email" class="w-full max-w-md p-2 border border-gray-300 rounded-md" placeholder="Ingresa tu correo electrónico" required>
        <p class="cuestionarioTitulo">.</p>
        <button type="button" class="start-btn px-6 py-3 bg-blue-700 hover:bg-blue-800 border-none rounded-md shadow-lg shadow-blue-900/30 transition-all duration-300 cursor-pointer text-white font-medium">
            Comenzar
        </button>
    </div>
    
    <div class="watermark-container">
        <div class="watermark">labsystec.net</div>
    </div>
</section>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const questToken = urlParams.get('quest');
    const API_URL = 'https://quest-cyb.labsystec.net/api/'; 
    // const API_URL = 'https://localhost:7148/api/';
    if(!questToken){
         window.location.href = "/CuestionarioInexistente";
    }
    
    document.addEventListener('DOMContentLoaded', function() {
        const startBtn = document.querySelector('.start-btn');
        if(startBtn != null){
            startBtn.addEventListener('click', function() {
                const emailInput = document.querySelector('input[type="email"]');
                const email = (emailInput as HTMLInputElement).value.trim();
                if (email === '') {
                    alert('Por favor, ingresa un correo electrónico válido.');
                    return;
                }
                if (!mailValidation(email)) {
                    alert('Por favor, ingresa un correo electrónico válido.');
                    return;
                }
                
                sessionStorage.setItem('email', email);
                window.location.href = '/Cuestionario';
            });
        }
    });

  document.addEventListener('DOMContentLoaded', () => {
    if (questToken) {
      sessionStorage.setItem('questToken', questToken);
      
      fetch(API_URL + `Values/GetCuestionario?quest=${questToken}`)
        .then(response => {
          if (!response.ok) {
              window.location.href = "/CuestionarioInexistente";
            throw new Error('Cuestionario no encontrado');
          }
          return response.json();
        })
        .then(data => {
          sessionStorage.setItem('cuestionarioData', JSON.stringify(data));
          
          sessionStorage.setItem('cuestionarioPreguntas', data.cuestionarioSerializado);
          
          const preguntasParsed = JSON.parse(data.cuestionarioSerializado);
          sessionStorage.setItem('preguntasParsed', JSON.stringify(preguntasParsed));
          
          console.log("Preguntas guardadas:", preguntasParsed);
          
          const cuestionarioTitulo = document.querySelector('.cuestionarioTitulo');
          if(cuestionarioTitulo != null){
            cuestionarioTitulo.textContent = data.tituloCuestionario;
          }
        })
        .catch(error => {
          console.error('Error al cargar el cuestionario:', error);
          window.location.href = "/CuestionarioInexistente";
        });
    }
    else{
        window.location.href = "/CuestionarioInexistente";
    }
  });

function mailValidation(email:string) {
    const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return re.test(String(email).toLowerCase());
}

</script>

<style>
    section {
        --tw-text-opacity: 1;
        color: rgba(255, 255, 255, var(--tw-text-opacity));
    }
    
    .watermark-container {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        z-index: 20;
        width: 140px;
        height: 40px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
    }
    
    .watermark {
        font-size: 0.875rem;
        font-weight: 500;
        color: rgba(255, 255, 255, 0);
        transition: all 0.5s ease;
        transform: translateY(30px);
        opacity: 0;
    }
    
    .watermark-container:hover .watermark {
        color: rgba(255, 255, 255, 0.8);
        transform: translateY(0);
        opacity: 1;
    }
</style>