---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import '../styles/global.css';
import { ClientRouter, fade, slide } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/labsystec-icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Cuestionario</title>
		<ClientRouter/>
	</head>
	<body>
		<Header/>
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		background-color: rgb(56, 56, 56);
		color:#ebebeb;
	}
</style>
